.col-header {
  border-top: 2px solid #FF3D00; }
  .col-header h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: 39px; }
  .col-header small {
    float: right; }
    .col-header small a {
      color: #FFB964; }
    .col-header small [name="button-1"] {
      background: #FFB964; }
    .col-header small [name="button-2"] {
      background: #FF3D00; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.sem-color {
  color: #FFB964; }

.main-color {
  color: #FF3D00; }

ul {
  text-transform: uppercase;
  padding-left: 0;
  overflow: hidden; }
  ul li {
    margin-bottom: 16px;
    height: 188px; }
    ul li .img-cont {
      display: inline;
      float: left;
      width: 328px;
      height: 188px; }
      ul li .img-cont img {
        position: relative;
        z-index: 1; }
      ul li .img-cont p {
        box-sizing: content-box;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
        width: 168px;
        height: 44px;
        margin: 0;
        position: relative;
        font-size: 15px;
        line-height: 1em;
        top: -48px;
        z-index: 5;
        background: #FF3D00; }
    ul li .text-cont {
      display: inline;
      float: right;
      width: 312px;
      height: 188px;
      background: #FFB964;
      padding-left: 41px;
      padding-top: 43px; }
      ul li .text-cont p {
        font-size: 17px; }
      ul li .text-cont time {
        font-size: 17px; }

.feature-item {
  overflow: hidden;
  height: 375px; }
  .feature-item .img-feature {
    position: relative;
    z-index: 2;
    display: inline;
    width: 400px; }
    .feature-item .img-feature h4 {
      padding-left: 50px;
      padding-top: 30px;
      width: 100%;
      position: absolute;
      height: 50%;
      margin: 0px;
      font-size: 20px;
      height: 90px;
      background: rgba(255, 61, 0, 0.8);
      z-index: 10; }
  .feature-item .text-feature {
    display: inline;
    width: 192px;
    height: 375px; }
    .feature-item .text-feature p {
      font-size: 18px;
      margin: 0px; }

.feature-1 {
  margin-bottom: 50px; }
  .feature-1 .img-feature {
    float: left; }
  .feature-1 .text-feature {
    float: right;
    border-bottom: #FF3D00 2px solid; }

.feature-2 .img-feature {
  float: right; }
.feature-2 .text-feature {
  padding-top: 115px;
  float: left;
  border-top: #FF3D00 2px solid; }

h2, h3, h4 {
  text-transform: uppercase; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

* {
  box-sizing: border-box; }

#section-1 .main-cont h2 {
  margin-left: 48px; }
#section-1 .main-cont .col-l {
  margin-right: 24px; }
  #section-1 .main-cont .col-l .col-header {
    margin-left: 48px; }
#section-1 .col {
  width: 640px;
  float: left; }
#section-1 .col-r {
  margin-left: 24px; }

#section-2 {
  display: block; }
  #section-2 .main-cont {
    padding-left: 48px;
    width: 1328px; }
  #section-2 .col {
    width: 427px;
    float: left; }
    #section-2 .col .text-content {
      display: inline; }
  #section-2 .info {
    width: 1282px; }
    #section-2 .info .text-content p {
      font-size: 18px;
      text-transform: uppercase; }
  #section-2 .info-2 .text-content {
    position: relative;
    top: -5px; }
    #section-2 .info-2 .text-content p {
      width: 424px;
      padding-top: 34px;
      padding-left: 30px;
      margin-top: 0px;
      height: 112px;
      background: #FFB964;
      color: #FF3D00; }
  #section-2 .aside-cont {
    margin-top: 65px; }
    #section-2 .aside-cont .aside-img-1 {
      margin-bottom: 5px; }

.main-cont {
  width: 1328px;
  display: inline;
  float: left; }
  .main-cont .col {
    display: inline; }

.aside-cont {
  width: 672px;
  display: inline;
  float: right; }
  .aside-cont .aside-img-1 {
    margin-bottom: 48px; }

.container {
  width: 2048px; }

/*# sourceMappingURL=app.css.map */
