.feature-item {
  overflow: hidden;
  height: 375px;


  .img-feature{
    position: relative;
    z-index: 2;
    display: inline;
    width:400px;


    h4 {
      padding-left: 50px;
      padding-top: 30px;
      width: 100%;
      position: absolute;
      height: 50%;
      margin: 0px;
      font-size: 20px;
      height: 90px;
      background: rgba(255, 61, 0, 0.8);
      z-index: 10;

    }

  }
  .text-feature {
    display: inline;
    width: 192px;
    height: 375px;
    p {
      font-size: 18px;
      margin: 0px;
    }
  }



}

.feature-1 {
  margin-bottom: 50px;
  .img-feature{
    float: left;
  }
  .text-feature{
    float: right;
    @include border-ev("bottom", $main-color, 2);
  }
}

.feature-2 {
  .img-feature{
    float: right;
  }
  .text-feature{
    padding-top: 115px;
    float: left;
    @include border-ev("top", $main-color, 2);
  }
}
