ul {
  padding-left: 0;
  overflow: hidden;
  li {
    margin-bottom: 16px;
    height: 188px;
    .img-cont {
      display: inline;
      float: left;
      width: 328px;
      height: 188px;
      img {
        position: relative;
        z-index: 1;

      }

      p {
        padding-left: 14px;
        padding-top: 17px;
        padding-bottom: 17px;
        width: 168px;
        height: 44px;
        margin: 0;
        position: relative;

        font-size: 10px;
        line-height: 1em;
        top: -48px;
        z-index: 5;
        background: $main-color;
      }
    }
    .text-cont {
      display: inline;
      float: right;
      width: 312px;
      height: 188px;
      background: $sem-color;
    }
  }
}
