$md-size : 992px;
$sm-size : 768px;
$xs-size : 767px;
$lg-size : 1200px;
$main-color : #FF3D00;
$sem-color : #FFB964;
$width-cont : 2048;
$width-main :1328;
$width-aside : 672;
$width-col-eq : 640;
$li-p : 312;
$li-img: 640-312;
$pad-left : 47;
