#section-2 {
  .main-cont{
    padding-left: 48px;
    width: 1328px;
  }
  display: block;
  .col {
    width: 427px;
    float: left;
    .text-content{
      display: inline;
    }

  }
  .info {
    // text-align: center;
    width: 1282px;

    .text-content{
      p {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  .info-2 {
    .text-content {
      position: relative;
      top: -5px;
      p {
        width: 424px;
        padding-top: 34px;
        padding-left: 30px;
        margin-top: 0px;
        height: 112px;
        background: $sem-color;
        color: $main-color
        ;
      }
    }
  }

 .aside-cont {
    margin-top: 65px;

    .aside-img-1 {
      margin-bottom: 5px;
    }
 }

}
